.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.chat-create a{
  color: deepskyblue;
  font-size: 10px;
  margin: auto 20px auto auto;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room-name a{
  color: white;
  display: block;
  margin: 20px auto 40px;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.room-now {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.chat-end {
  margin-top: 40px;
}

.chat-end a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.chat-main {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-contents {
  margin: 10px 0 40px 0;
}

.chat-upper-content {
  display: flex;
}

.chat-user {
  color: #434A54;
  font-size: 16px;
}

.chat-time {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.chat-lower-content {
  margin-top: 10px;
}

.chat-message {
  color: #434A54;
  font-size: 14px;
}

.chat-bottom {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.chat-form {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-text {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}